div {
  font-size: 0px;
}

.farm-input {
  width: 100%;
  background-color: transparent;
  border: 0px;
  height: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  margin-bottom: 20px;
  outline: none;

  &::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(22, 29, 37, 0.3);
    font-size: 14px;
  }

  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(22, 29, 37, 0.3);
    font-size: 14px;
  }

  &::-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgba(22, 29, 37, 0.3);
    font-size: 14px;
  }
}
